body {
	background-color: rgba(40, 40, 40, 1);
}
.submit_button {
	background-color: rgba(250, 163, 17, 1);
	color: rgba(40, 40, 40, 1);
	width: 170px;
	height: 170px;
	margin-top: 30px;
	border: 2px solid rgba(40, 40, 40, 1);
    	border-radius: 100px;
	transition: 0.3s;
	font-size: x-large;
}
.submit_button:hover {
	background-color: rgba(40, 40, 40, 1);
	border: 2px solid rgba(250, 163, 17, 1);
	color: rgba(243, 255, 189, 1);
	transition: 0.3s;
}
.submit_button:focus {
	outline: 0;
}
.submit_button:active {

}
.text_input {
	padding: 2px;
	padding-left: 6px; 
	border: 1px solid rgba(30, 30, 30, 1);
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 20px;
}
